@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Handsome Boys.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">這是一個Ruby聊天機器人，有麼疑難雜症都可以說出來，但我不會幫你解決喔~</a>.</p>
</div>